<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" prefix="og: http://ogp.me/ns#">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head profile="http://gmpg.org/xfn/11">
    <title>Definitions - Botjagwar</title>
    <meta content="">
    <link rel="stylesheet" href="lib/datatable/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <style>
    </style>
</head>
<script type="text/javascript" src='lib/vue.js'></script>
<script type="module" src='js/header.js'></script>
<script type="module" src='js/utils.js'></script>
<script type="module" src='js/definition.js'></script>
<body>
<div id='app'>
    <botjagwar-header></botjagwar-header>
    <div style="margin:5%;">
        <h1>Definition in {{language_mapping[definition.language]}}</h1>
        <p>
        <div class="md-form amber-textarea active-amber-textarea">
            <i class="fas fa-pencil-alt prefix"></i>
            <textarea v-model="definition.definition" name='defn' class="md-textarea form-control" rows="3">{{definition.definition}}</textarea>
        </div>
        <span class="badge badge-info" id='status_msg'>Status: {{message}}</span>
        </p>
        <p>
            <button class="btn btn btn-success" type="button" v-on:click='saveChanges'>Save
                <span class="badge badge-light">{{new_words_version.length}}</span>
            </button>
            <button class="btn btn btn-secondary" type="button" v-on:click='cancelChanges'>Cancel</button>
        </p>
        <h1>Uses</h1>
        {{words.length}} words referenced containing definition:<br>
        <table id="linkedWords" class='table table-sm table-bordered'>
            <thead>
            <th>ID</th>
            <th>word</th>
            <th>Part of speech</th>
            <th>Language</th>
            <th>Last modified</th>
            <th>actions</th>
            </thead>
            <tr v-for="word in words">
                <td>{{word.id}}</td>
                <td><a :href="'/word.html?word=' + word.id">{{word.word}}</a></td>
                <td>{{word.part_of_speech}}</td>
                <td>
                    <a :href="'/dictionary.html?language=' + word.language">{{language_mapping[word.language]}}</a>
                    <span class="badge badge-light"><a :href="'/dictionary.html?language=' + word.language">{{word.language}}</a></span>
                </td>
                <td>{{word.last_modified}}</td>
                <td>
                    <button class="btn btn-sm btn-danger" v-bind="word" type="button" v-on:click='deleteWord(word)'>
                        dissociate
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript" src='lib/jquery-3.4.1.js'></script>
<script type="text/javascript" src='lib/datatable/jquery.dataTables.min.js'></script>
<script type="text/javascript" src='lib/bootstrap/js/bootstrap.js'></script>
<script type="text/javascript">
  // Basic example
  $(document).ready(function () {
    $('#linkedWords').DataTable({
      "paging": true // false to disable pagination (or any other option)
    });
    $('.dataTables_length').addClass('bs-select');
  });


</script>
</body>
</html>
