<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" prefix="og: http://ogp.me/ns#">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
    <title>Dictionary - Botjagwar</title>
    <meta content="">
    <link rel="stylesheet" href="lib/datatable/jquery.dataTables.min.css"/>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" href="/css/style.css"/>
    <script type="text/javascript" src='lib/vue.js'></script>
  	<!--<script type="text/javascript" src='axios.js'></script>-->
</head>
<script type="module" src="js/utils.js"></script>
<script type="module" src='js/dictionary.js'></script>
<body>
    <div id='header'>
		<nav class="navbar navbar-expand-sm bg-light">
		  <ul class="navbar-nav">
			<li class="nav-item">
			  <a class="nav-link" href="index.html">Main page</a>
			</li>
			<li class="nav-item">            
			  <a class="nav-link" href="recent_changes.html">Recent Changes</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="dictionary.html">Dictionary</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="word.html">Word</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="definition.html">Definition</a>
			</li>                      	
		  </ul>
		  <form class="form-inline" method='get' action='search.html' style="position: absolute;right: 5px;">
			<div class="input-group-prepend">
			  <span class="input-group-text" id="basic-addon1"><a href="search.html">Search</a></span>
			</div>
			<input class="form-control mr-sm-2" type="search" name='term' placeholder="" aria-label="">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
		  </form>
		</nav>      
	  </div>
<div style="margin:5%;" class="mr-md-3" id='app'>
	<label for='language'>Language code</label>
	<input v-model="language" @keyup.enter='fetchWords' placeholder="akz">
	<button type="button" class="btn btn-primary btn-sm" v-on:click='fetchWords'>Fetch words from language</button>

	<h1>{{title}}</h1>
	Dictionary for <a v-bind:href="'/language.html?code=' + language">{{language_mapping[language]}}</a>
	<table id='dictionaryTable' class='table table-sm table-bordered' >
		<thead>
			<th>ID</th>
			<th>word</th>
			<th>Part of speech</th>
			<th>Language</th>
			<th>Definition</th>
			<th>Last modified</th>
		</thead>
		<tr v-for="word in words">
			<td>{{word.id}}</td>
			<td><a :href="'/word.html?word=' + word.id">{{word.word}}</a></td>
			<td>{{word.part_of_speech}}</td>
			<td><a :href="'/dictionary.html?language=' + word.language">{{language_mapping[word.language]}}</a></td>
			<td>
				<span v-for="definition in word.definitions">
				{{definition.definition}} ({{definition.language}})<br>
				</span>
			</td>
			<td>{{word.last_modified}}</td>
		</tr>
	</table>
</div>
<script type="text/javascript" src='lib/jquery-3.4.1.js'></script>
<script type="text/javascript" src='lib/datatable/jquery.dataTables.min.js'></script>
<script type="text/javascript" src='lib/bootstrap/js/bootstrap.js'></script>
<script type="text/javascript">
// Basic example
$(document).ready(function () {
  $('#dictionaryTable').DataTable({
    "paging": true // false to disable pagination (or any other option)
  });
  $('.dataTables_length').addClass('bs-select');
});
</script>
</body>
</html>