<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" prefix="og: http://ogp.me/ns#">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
    <title>Index - Botjagwar</title>
    <meta content="">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" href="lib/datatable/jquery.dataTables.min.css"/>
	<link rel="stylesheet" href="/css/style.css"/>
    <style>
    </style>
    <script type="text/javascript" src='lib/vue.js'></script>

  	<!--<script type="text/javascript" src='axios.js'></script>-->
</head>
<script type="module" src="js/utils.js"></script>
<script type="module" src='main.js'></script>
<body>
<div style="margin:5%;" class="mr-md-3" id='app'>
	<span v-bind='isLoading' v-if='isLoading'>Loading</span>
	<h1>{{title}}</h1>
	<table id="languageTable" class='table table-sm table-bordered' >
		<thead>
			<th>Language</th>
			<th>Language name</th>
			<th>entries</th>
		</thead>
		<tr v-for="language in languages">
			<td><a :href="'/dictionary.html?language=' + language.language">{{language.language}}</a></td>
			<td><a :href="'/dictionary.html?language=' + language.language">{{language_mapping[language.language]}}</a></td>
			<td>{{language.entries}}</td>
		</tr>
	</table>
</div>
<script type="text/javascript" src='lib/jquery-3.4.1.js'></script>
<script type="text/javascript" src='lib/datatable/jquery.dataTables.min.js'></script>
<script type="text/javascript" src='lib/bootstrap/js/bootstrap.js'></script>
<script type="text/javascript">
	// Basic example
$(document).ready(function () {
  $('#languageTable').DataTable({
    "paging": true // false to disable pagination (or any other option)
  });
  $('.dataTables_length').addClass('bs-select');
});
</script>

</body>
</html>