<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" prefix="og: http://ogp.me/ns#">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
    <title>Botjagwar</title>
    <meta content="">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
    <style>
    </style>
    <script type="text/javascript" src='vue.js'></script>
  	<!--<script type="text/javascript" src='axios.js'></script>-->  	
</head>
<body>
<div class="mr-md-3" id='app'>
	<label for='language'>Language code</label><input v-model="language" @keyup.enter='fetchWords' placeholder="akz">
	<button type="button" v-on:click='fetchWords'>Fetch words from language</button>
	<span v-bind='isLoading' v-if='isLoading'>Loading</span>
	<h1>{{title}}</h1>
	Dictionary for <a v-bind:href="'/language.html?code=' + language">{{language}}</a>
	<table class='table table-sm table-bordered' >
		<tr v-for="word in words">
			<td><a :href="'/word.html?word=' + word.id">{{word.word}}</a></td>
			<td>{{word.part_of_speech}}</td>
			<td>{{word.language}}</td>
			<td>	
				<span v-for="definition in word.definitions">
				{{definition.definition}} ({{definition.language}})<br>					
				</span>
			</td>
			<td>{{word.last_modified}}</td>
		</tr>
	</table> 
</div> 

</body>
<script type="text/javascript" src='js/main.js'></script>
</html>