<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" prefix="og: http://ogp.me/ns#">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head profile="http://gmpg.org/xfn/11">
    <title>Word - Botjagwar</title>
    <meta content="">
    <link rel="stylesheet" href="lib/datatable/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css"/>
    <style>
    </style>
</head>
<script type="text/javascript" src='lib/vue.js'></script>
<script type="module" src='js/header.js'></script>
<script type="module" src='js/utils.js'></script>
<script type="module" src='js/word.js'></script>
<body>
<div id='app'>
    <botjagwar-header></botjagwar-header>
    <div style="margin:5%;">
        <h1><a v-bind:href="'?term=' + term">{{term}}</a></h1>
        <div v-for="word in words">
            <h2>
                <a v-bind:href="'/dictionary.html?language=' + word.language">{{language_mapping[word.language]}}</a>
                <span class="badge badge-light">{{word.language}}</span>
            </h2>
            <span class="badge badge-light">
                <a v-bind:href="'?word=' + word.id">#{{word.id}}</a>
            </span>
            <h3>{{pos_mapping[word.part_of_speech]}}</h3>
            <ol>
                <li v-for="definition in word.definitions">
                    <span class="badge badge-info">{{language_mapping[definition.language]}}</span>
                    <a v-if="definition.id" v-bind:href="'/definition.html?defid=' + definition.id">{{definition.definition}}</a>
                    <span v-else>{{definition.definition}}</span>
                    <a><span class="badge badge-danger" v-on:click='deleteDefinition(word.id, definition)'>delete</span></a>
                </li>
            </ol>
            <ul>
                <input v-model="new_definition.definition" @keyup.enter='addDefinition(word.id)'
                       placeholder="add definition">
                <input v-model="new_definition.language" @keyup.enter='addDefinition(word.id)'
                       placeholder="set language" value="mg">
                <button class="btn btn-primary btn-sm" type="button" v-on:click='addDefinition(word.id)'>add</button>
            </ul>

        </div>
        <table class='table table-sm table-bordered'>
            <tr>

                <td>
                    <button class="btn btn-success" type="button" v-on:click='saveChanges'>
                        Save <span class="badge badge-light">{{editCount}}</span></button>
                </td>
                <td></td>
                <td>to delete: {{definitions_to_delete.length}}</td>
                <td>edited: {{edited_definitions.length}}</td>
            </tr>
            <tr>
                <td><span class="badge badge-info" id='status_msg'>Status: {{message}}</span></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
