<h1>Please enter information</h1>
<div class="">
    {{ form.information }}
</div>
<form action="{{ form.handler_route }}/" method="post">
    <table>
        { % for
        <tr>
            <td>
                {{ form.first_name.label }}:<br />
                {{ form.first_name() }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.last_name.label }}:<br />
                {{ form.last_name() }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.email.label }}:<br />
                {{ form.email() }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.password.label }}:<br />
                {{ form.password() }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.submit.label }}:<br />
                {{ form.submit() }}
            </td>
        </tr>
    </table>
</form>